  // .responsive-table .card {
  //   border: 1px solid #dee2e6;
  //   border-radius: 0.25rem;
  // }
  // .responsive-table .card-body {
  //   padding: 1rem;
  // }
    .status .badge {
      font-size: 0.75em;
      padding: 0.25em 0.4em;
    }
    .expandable-text {
      cursor: pointer;
      max-width: 100%;
      vertical-align: bottom;
    }
    .expandable-text .truncate {
      display: inline-block;
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
    }
    .avatar-xs {
      width: 24px;
      height: 24px;
    }

    .details-grid {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem 1rem;
  }

  .detail-item {
      display: contents;
  }

  .detail-label {
      font-weight: bold;
      text-transform: uppercase;
  }

  .detail-value {
      color: #6c757d;
  }

  .sort {
  cursor: pointer;
  position: relative;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .sort-indicator {
    margin-left: 4px;
    
    i {
      color: var(--bs-primary);
    }
  }
  
  &.sorted-asc, &.sorted-desc {
    background-color: rgba(0, 0, 0, 0.05);
  }
}


.vehicle-icon {
  font-size: 24px;
  color: #adb5bd; 
}

.image_src {
  width: 100%;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

/* data-table.component.scss */
.responsive-table {
  // overflow-x: auto;
  
  table {
    // width: 100%;
    // table-layout: auto;
    
    th {
      white-space: nowrap;
      
      position: relative;
      
      &.sort {
        min-width: 120px; // Set minimum width for sortable columns
      }
      
      // Add ellipsis for long headers
      span.header-text {
        display: inline-block;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
  }
}
.color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}